@import "colors.css";

nav a {
  color: var(--main-text-black);
  padding: 1rem;
  text-decoration: none;
}

nav a:hover {
  border: 2px solid var(--main-text-black);
  padding: 0.825rem;
}

nav a:focus {
  background-color: var(--focus-yellow);
}

.nav-flex-container {
  display: none;
}

.nav-flex-content {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 10px 0;
}

.nav-menu-icon {
  display: none;
}

.nav-h1 {
  display: block;
  font-size: 1.5rem;
  text-align: end;
}

nav ul {
  display: flex;
}

.nav-seperator {
  border: 3px solid var(--focus-yellow);
  margin: 0 0 8px;
}

.no-a-styling {
  padding: 0;
}

.no-a-styling:hover {
  border: none;
  padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  nav {
    align-items: center;
    margin: 0 10px;
  }

  .nav-content {
    background-color: var(--main-background-grey);
    padding: 10px;
  }

  .nav-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-flex-content {
    align-items: stretch;
    flex-direction: column;
  }

  .nav-menu-icon {
    display: block;
    font-size: xx-large;
    padding: 10px;
  }

  .nav-h1 {
    display: block;
    text-align: end;
  }

  .nav-h1-big-screen {
    display: none;
  }

  nav:hover .nav-seperator {
    display: block;
  }

  nav:hover .nav-content {
    display: block;
  }

  nav:hover .nav-menu-icon {
    background-color: var(--focus-yellow);
    padding: 10px;
  }

  nav li {
    padding: 15px;
  }

  nav ul {
    display: none;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav-seperator {
    display: none;
  }
}
