@import "colors.css";

nav a {
  color: var(--main-text-black);
  padding: 1rem;
  text-decoration: none;
}

nav a:hover {
  border: 2px solid var(--main-text-black);
  padding: 0.8rem;
}

nav a:focus {
  background-color: var(--focus-yellow);
}

nav ul {
  display: flex;
}

.nav-seperator {
  border: 3px solid var(--focus-yellow);
}
