@import "colors.css";
@import "nav-menu.css";
@import "button.css";

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-VariableFont_wdth\,wght.ttf") format("woff2"),
    url("/fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf") format("woff");
}

body {
  font-family: "Open Sans", Verdana, sans-serif;
  font-size: 14px;
}

.body-container {
  margin: 0 20%;
}

h1 {
  font-size: 1.5rem;
  margin: 15px 0;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: 1rem;
}

a {
  color: var(--main-text-black);
  padding: 0 10px 0 0;
}

a:hover {
  font-weight: bold;
}

a:focus {
  background-color: var(--focus-yellow);
}

a:active {
  color: var(--main-text-black);
}

.align-items {
  align-items: flex-end;
}

.border-pink {
  border: 4px solid var(--pink);
  margin: 0 10rem;
}

.center {
  text-align: center;
}

.circle-info-box {
  background-color: var(--pink);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem;
  padding: 10px;
  text-align: center;
}

.circle-info-box div {
  padding: 0 5rem;
}

.circle-height {
  height: 30rem;
}

.circle-width {
  width: 22rem;
}

.content-padding {
  padding: 0 1rem;
}

.color-red {
  color: var(--red);
  font-weight: bold;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-container-spaces {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item-column {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.flex-item-row {
  display: flex;
  flex-flow: row;
  padding: 0 10px;
}

.footer-item-row {
  flex-flow: row;
  padding: 0 10px;
}

.flex-item-row li {
  padding: 5px 0;
}

figure {
  text-align: center;
}

.focus-color {
  background-color: var(--focus-yellow);
}

footer {
  margin: 10px 0;
}

footer h2 {
  font-style: italic;
}

.footer-item-row li {
  padding: 5px 0;
}

.grey-background {
  background-color: var(--main-background-grey);
  box-shadow: 10px 10px 10px 30px var(--main-background-grey);
  margin: 5rem 0;
}

.grey-box {
  background-color: var(--main-background-grey);
  box-shadow: 10px 10px 10px 20px var(--main-background-grey);
  height: 20px;
  margin-bottom: 1rem;
  width: 100%;
}

iframe {
  border: 0;
  height: 350px;
  padding: 20px 0;
  width: -webkit-fill-available;
}

img {
  width: 100%;
}

.img-size-padding {
  padding: 20px;
}

.img-size-teachers {
  height: 20rem;
  padding: 20px;
}

.infobox-size {
  border: 1px solid var(--grey);
  padding: 12px;
  margin: 20px 0;
  width: 40%;
}

.info-section {
  background-image: url(/images/exhibition.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 32rem;
  margin: 5rem 0 3rem;
}

.info-sub {
  background-image: url(/images/samuel-zeller-158996.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 32rem;
  margin: 5rem 0 3rem;
}

.no-width {
  width: unset;
}

.margin-top-bottom {
  margin: 40px 0;
}

.margin-left {
  margin-left: 40px;
}

.margin-left-none {
  margin-left: 0;
}

.padding-left {
  padding-left: 1rem;
}

.some-icons {
  font-size: xx-large;
  text-align: end;
}

.some-icons i:hover,
i:focus {
  color: var(--focus-yellow);
  margin: 0;
}

.some-icons a:focus {
  background-color: var(--white);
}

.some-icons a:hover {
  padding: 0 10px 0 0;
}

.skip-to-content {
  display: none;
}

.text-position {
  position: absolute;
  padding: 6rem 14rem 0 4rem;
}

ul {
  list-style: none;
  padding-left: 0;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  .body-container {
    margin: 0 2%;
  }

  .border-pink {
    margin: 0;
  }

  .circle-height {
    height: 32rem;
  }

  .circle-info-box {
    margin: 80px 4px;
  }

  .circle-info-box div {
    padding: 0 1.5rem;
  }

  header {
    display: block;
  }

  .img-size-professor {
    display: none;
  }

  .img-size-teachers {
    display: none;
  }

  .infobox-size {
    padding: 30px;
    width: unset;
  }

  .margin-left-none {
    margin: 0;
  }

  .main-headline {
    display: none;
  }

  figure {
    margin: 0;
  }

  .flex-container {
    flex-direction: column;
  }

  .flex-item-column {
    justify-content: space-between;
  }

  .text-position {
    text-align: center;
    position: unset;
    padding: 0;
  }

  ul {
    text-align: center;
  }

  p,
  b {
    font-size: 0.85rem;
    text-align: center;
  }

  .some-icons {
    text-align: center;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .body-container {
    margin: 0 2%;
  }

  .text-position {
    position: absolute;
    padding: 6rem 8rem 0 4rem;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1429px) {
  h1 {
    font-size: 2rem;
  }

  .body-container {
    margin: 0 12%;
  }
}

@media screen and (min-width: 1430px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1rem;
  }

  .text-position {
    position: absolute;
    padding: 6rem 28% 0 4rem;
  }
}
